<div class="container justify-content-center mt-3">
  <form method="POST" action="/">
    <div class="content d-flex justify-content-around">
      <div class="engineer col-auto d-flex flex-column align-items-center">
        <div class="card" style="width: 13rem;">
          <img class="card-img-top" style="height: 200px; object-fit: cover;"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="option" value="engineer" id="inlineRadio1"
            {{#ifSame option 'engineer'}}checked{{/ifSame}}>
          <label class="form-check-label" for="inlineRadio1">工程師</label>
        </div>
      </div>

      <div class="designer col-auto d-flex flex-column align-items-center">
        <div class="card" style="width: 13rem;">
          <img class="card-img-top" style="height:200px; object-fit: cover;"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="option" value="designer" id="inlineRadio2"
            {{#ifSame option 'designer'}}checked{{/ifSame}}>
          <label class="form-check-label" for="inlineRadio2">設計師</label>
        </div>
      </div>

      <div class="entrepreneur col-auto d-flex flex-column align-items-center">
        <div class="card" style="width: 13rem;">
          <img class="card-img-top" style="height:200px; object-fit: cover;"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="option" value="entrepreneur" id="inlineRadio3"
            {{#ifSame option 'entrepreneur'}}checked{{/ifSame}}>
          <label class="form-check-label" for="inlineRadio3">創業家</label>
        </div>
      </div>
    </div>
    <div class="d-flex mt-4 ">
      <button class="btn btn-success col-3 mr-2" type="submit">產生幹話</button>
      <input class="col-9" type="text" placeholder="{{#if result}}{{result}}{{/if}}">

    </div>
</div>
</form>

</div>